<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Escolher cor</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeColorPicker()" style="color: #000">
                <i class="icon ion-close-round icon-dark"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="center">
        <div id="picker" data-color="#FFF"></div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-dark">
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button" ng-click="submitColorPicker()">Ok</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
