<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
        <ion-footer-bar class="bar-balanced">
            <div id="messages" class="title"></div>
        </ion-footer-bar>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left" nav-clear menu-close href="#/app/draw">
                    <i class="icon ion-edit"></i>  Desenhar
                </ion-item>
                                <ion-item class="item-icon-left" nav-clear menu-close href="#/app/tictac">
                    <i class="icon ion-pound"></i>  Jogo do Galo
                </ion-item>
                <!--        <ion-item nav-clear menu-close href="#/app/browse">
                            Jogo do Galo
                        </ion-item>-->
                <!--        <ion-item nav-clear menu-close href="#/app/browse">
                            Animate/Bitmap (as in the video)
                        </ion-item>-->
                <!--        <ion-item nav-clear menu-close ng-click="login()">
                            Login
                        </ion-item>-->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
