body {
    background: #333;
    margin: 0;
}
span {
    display: block; /* one message per line */
}

#grid {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    /*touch-action: none;*/
    cursor: pointer;
    border: 1px solid white;
}
#grid td {
    border: 1px solid white;
    background-color: black;
}
